@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
.App {
  height: 100%;
  width: 100%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.text{
  width: 400px;
  height: 600px;
  overflow: auto;
  background-color: white;
  border: 1px solid grey ;
  display: flex;
  flex-wrap: wrap;
}